.columns-2 {
  column-count: 2;
}

.appSelect {
  width: 100%;
  max-width: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
  .columns-2 {
    column-count: 1;
  }
}
