.footer {
  border-top: 1px solid #ccc;
  padding-top: 4px;
  /* height: 70px; */
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 0px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}



@media (max-width: 767px) {
  .footer {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}