<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/gadget.js"></script>
	<script>
		init({
			application: "",
			oAuth: {
				clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
				clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
			},
			paramValues: {}
		});
	</script>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="css/purge.css" rel="stylesheet" />
	<link href="css/defalut.css" rel="stylesheet" />
	<link href="css/base.css" rel="stylesheet" />
	<script src="js/jquery-1.8.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
	  //gadget.setExterior({hint:4});
	</script>
</head>

<body class="text-gray-900">
	<div class="my-page min-h-[90vh]" id="gadget" ng-app="app" ng-controller="Cntl" data-ng-init="init()">
		<div class="px-2">
			<h1>體適能查詢</h1>
			<div class="btn-group">
				<button ng-repeat="(id_number, man) in mans" type="button" class="btn" ng-click="change_man(id_number)"
					ng-class="manClass(id_number)">{{man[0].name}}</button>
			</div>

			<div class="card bg-white rounded-3xl py-4 my-6" ng-repeat="f in fitness | filter:target">
				<div class="font-semibold mb-6 px-4 sm:px-6">{{f.school_year}} 學年度（測驗日期：{{f.test_date|myDateFormat}}）</div>
				<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-y-6">
					<div class="text-center py-2">
						<img src="img/height.svg" alt="" class="w-11 mx-auto">
						<div class="text-2xl font-bold mt-3 mb-2">{{f.height}}<span class="text-xl text-gray-400 pl-1">CM</span>
						</div>
						<div>身高</div>
					</div>
					<div class="text-center py-2">
						<img src="img/weight.svg" alt="" class="w-11 mx-auto">
						<div class="text-2xl font-bold mt-3 mb-2">{{f.weight}}<span class="text-xl text-gray-400 pl-1">KG</span>
						</div>
						<div>體重</div>
					</div>
					<div class="text-center py-2">
						<img src="img/sit.svg" alt="" class="w-11 mx-auto">
						<div class="text-2xl font-bold mt-3 mb-2">{{f.sit_and_reach}}<span
								class="text-xl text-gray-400 pl-1">CM</span></div>
						<div class="text-sm border border-red-300 rounded text-red-400 w-fit px-1 mx-auto">
							{{f.sit_and_reach_degree}}</div>
						<div>坐姿體前彎</div>
					</div>
					<div class="text-center py-2">
						<img src="img/long.svg" alt="" class="w-11 mx-auto">
						<div class="text-2xl font-bold mt-3 mb-2">{{f.standing_long_jump}}<span
								class="text-xl text-gray-400 pl-1">CM</span></div>
						<div class="text-sm border border-blue-300 rounded text-blue-400 w-fit px-1 mx-auto">
							{{f.standing_long_jump_degree}}</div>
						<div>立定跳遠</div>
					</div>
					<div class="text-center py-2">
						<img src="img/ups.svg" alt="" class="w-11 mx-auto">
						<div class="text-2xl font-bold mt-3 mb-2">{{f.sit_up}}<span class="text-xl text-gray-400 pl-1">次</span>
						</div>
						<div class="text-sm border border-green-300 rounded text-green-400 w-fit px-1 mx-auto">{{f.sit_up_degree}}
						</div>
						<div>仰臥起坐</div>
					</div>
					<div class="text-center py-2">
						<img src="img/health.svg" alt="" class="w-11 mx-auto">
						<div class="text-2xl font-bold mt-3 mb-2">{{f.cardiorespiratory}}<span
								class="text-xl text-gray-400 pl-1">秒</span></div>
						<div class="text-sm border border-yellow-300 rounded text-yellow-400 w-fit px-1 mx-auto">
							{{f.cardiorespiratory_degree}}</div>
						<div>心肺適能</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<hr />
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="js/api.js"></script>
<script src="js/default.js"></script>

</html>