ul.rwd-table ol:nth-child(even) {
    background: #c1dad800 !important;
}

li {

border: 1.1px solid rgba(128, 128, 128, 0.227);

}

ul.rwd-table .thead li, ul.rwd-table .tr li {padding: 11px !important;}


.form-control, .custom-select, .form-control-file{

    width:30px !important

}