<div>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item header-top" style="font-weight: 600; font-size: 18px;">
        <a href="#"
           [routerLink]="['']">{{ 'roll-call' | i18next }}&nbsp;(&nbsp;{{today}}&nbsp;)</a>
      </li>
      <li class="breadcrumb-item" style="font-weight: 600; font-size: 18px;">
        <a href="#"
           [routerLink]="['/sub']">{{className?className: 'unspecified-class' | i18next }}</a>
      </li>
      <li class="breadcrumb-item active" style="font-weight: 600; font-size: 18px;"
          aria-current="selc">{{ 'select-course' | i18next }}</li>
    </ol>
  </nav>
  <table *ngIf="jClass && jClass.Course.length" class="border-collapse table-auto w-full mx-auto">
    <thead>
      <tr class="border-b font-medium text-slate-400 whitespace-nowrap bg-gray-200">
        <th class="md:w-1/3">{{ 'courses' | i18next }}</th>
        <th class="md:w-32">{{ 'sessions' | i18next }}</th>
        <th>{{ 'teacher' | i18next }}</th>
        <th class="hidden lg:block w-40"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of jClass.Course"
      (click)="openPicker(course)" class="border-b cursor-pointer hover:bg-gray-100">
        <td>{{course.CourseName}}</td>
        <td>{{course.Credit}}</td>
        <td>{{course.AllTeacherString?course.AllTeacherString: 'no-teacher' | i18next }}</td>
        <td class="hidden lg:block"></td>
      </tr>
    </tbody>
  </table>
</div>