<!-- 開始點名 -->
<div>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item header-top">
        <a href="#"
           [routerLink]="['']">{{ 'roll-call' | i18next }}&nbsp;(&nbsp;{{today}}&nbsp;)</a>
      </li>
      <ng-container *ngIf="loading; else titleText">
        <li class="breadcrumb-item active"
            aria-current="sub">loading...</li>
      </ng-container>
      <ng-template #titleText>
        <li class="breadcrumb-item active"
            aria-current="sub">{{ 'select-grade-class' | i18next }}</li>
      </ng-template>
    </ol>
  </nav>

  <ng-container *ngIf="loading; else gradeYearAndCourse">
    <div style="position:absolute;top:40%;left: 0px;right: 0px;text-align: center;">
      loading...
    </div>
  </ng-container>

  <ng-template #gradeYearAndCourse>

    <ul class="list-group mb-3"
        *ngFor="let grade of gradeYeares">
      <li class="list-group-item active d-flex align-items-center py-2 ">
        <!-- 顯示年級 -->
        <div class="col-9 col-md-10 text-nowrap">
          <span class="pr-3">{{grade.GradeYear?('grade-class' | i18next: { count: grade.GradeYear }): 'unspecified-grade' | i18next }} ({{ 'class_no' | i18next }}{{grade.Class.length}})</span>
        </div>
      </li>
      <li class="list-group-item point d-flex flex-wrap justify-content-center justify-content-md-start">
        <!-- 顯示班級 -->

        <div *ngFor="let tClass of grade.Class"
             class="m-1">
          <div class="col-md-2 col-lg-1 text-nowrap"
               (click)=openClass(tClass)>
            <button mat-raised-button
                    style="width: 200px; font-size:16px; white-space: pre-wrap;">{{tClass.ClassName?tClass.ClassName: 'unspecified-class' | i18next }}
              ({{ 'course_no' | i18next }}{{tClass.Course.length}})</button>
          </div>
        </div>
      </li>
    </ul>
  </ng-template>

</div>