<ng-container *ngIf="globalService.mode">
  d25c27b1-7156-4a10-8f8d-68f3d46f94e2
</ng-container>

<div class="max-w-screen-2xl p-3 mx-auto">
  <ng-container *ngIf="schoolInfo && sectionInfo  ">
    <ng-container *ngIf="questionSubject">
      <div class="text-center "
        style="font-size: 22px; font-weight: 900; color: #7D7979 !important; padding-bottom: 15px;">
        <div style="white-space: break-spaces; word-break: keep-all;">{{schoolInfo.SchoolName || '學校名稱未設定'}} {{sectionInfo.SchoolYear}}學年度 第{{sectionInfo.Semester}}學期 綜合表現紀錄表 (
          {{sectionInfo.Name}})</div>
      </div>
      <button *ngIf=" isOpen && requireList&&requireList.length"
        class="btn btn-danger sticky z-10 top-4 right-4 rounded-md ml-auto block sm:-mb-7"
        style="background-color: #ef5826c2; box-shadow: none !important;" (click)="showRequireList()">
        <span>尚有</span>
        <span class="mx-1">{{requireList.length}}</span>
        <span>個項目未填寫</span>
      </button>

      <ng-container *ngIf="isOpen else elseBlock">

        
        <h4 style="font-family: PingFang TC;">{{studentInfo.ClassName}}班 {{studentInfo.SeatNo}}號 {{studentInfo.Name}}
        </h4>

        <ng-container *ngFor="let subject of questionSubject">
          <div class="card mb-2">
            <h4 class="com-view-first-title">{{subject.Subject |filterChineseNumbers}}</h4>
            <table class="table table-sm table-bordered">
              <ng-container *ngFor="let group of subject.QuestionGroup">
                <thead>
                  <tr class="theader">
                    <th *ngIf="group.Group" colspan="2" class="text-left">
                      <div class="com-view-second-title">
                        {{group.Group}}
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                
                <ng-container *ngFor="let query of group.QuestionQuery">
                  <tr>
                    <td class="text-left pl-4 pr-1" style="width: 150px" scope="col">
                      <div class="form-group mb-0">
                        <label class="custom-control-label mt-1 position-relative">
                          <strong class="text-danger position-absolute"
                                  style="margin-left: -7px;margin-top: -7px;"
                                  *ngIf="query.ShowMark">*</strong>
                          <span>{{query.Query}}</span>
                        </label>
                      </div>
                    </td>
                    <td class="text-left" scope="col">
                      <div class="form-group mb-0">
                        <ng-container *ngFor="let questionText of query.QuestionText; let questionTextIndex = index">
                          <label *ngIf="questionTextIndex > 0"
                                 class="custom-control-label mx-1">;</label>
                          <label class="custom-control-label position-relative"
                                 *ngIf="questionText.Text">
                            <strong class="text-danger position-absolute"
                                    style="margin-left: -7px;margin-top: -7px;"
                                    *ngIf="questionText.ShowMark">*</strong>
                            <span>{{questionText.Text}}</span>
                            <span class="mx-1">:</span>
                          </label>
                          <ng-container *ngFor="let option of questionText.Option; let optionIndex = index">
                            <ng-container *ngIf="questionText.Type=='複選'">
                              <div class="custom-control custom-checkbox custom-control-inline m-1"
                                   [ngClass]="{'mr-3': optionIndex+1 < questionText.Option.length}">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       [attr.id]="option.AnswerID"
                                       [checked]="option.AnswerChecked"
                                       (click)="option.change()" />
                                <label class="custom-control-label"
                                       for="{{option.AnswerID}}">
                                  <ng-container *ngTemplateOutlet="optionLayout"></ng-container>
                                </label>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="questionText.Type=='單選'">
                              <div class="custom-control custom-radio custom-control-inline m-1"
                                   [ngClass]="{'mr-3': optionIndex+1 < questionText.Option.length}">
                                <input type="radio"
                                       class="custom-control-input"
                                       [attr.name]="questionText.QuestionID"
                                       [attr.id]="option.AnswerID"
                                       [checked]="option.AnswerChecked"
                                       (click)="option.change()" />
                                <label class="custom-control-label"
                                       for="{{option.AnswerID}}">
                                  <ng-container *ngTemplateOutlet="optionLayout"></ng-container>
                                </label>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="questionText.Type=='輸入欄位'">
                              <input type="text" class="form-control" [value]="option.AnswerText"
                                (blur)="option.change($event.target.value)" />
                            </ng-container>
                            <ng-container *ngIf="questionText.Type=='日期'">
                              <input type="date" class="form-control" [value]="option.AnswerText"
                                (blur)="option.change($event.target.value)" />
                            </ng-container>
                            <ng-container *ngIf="questionText.Type=='填答'">
                              <div class="custom-control-inline m-0 mr-1"
                                   [ngClass]="{'w-100': option.IsTextArea }">
                                <label class="custom-control-label"
                                       [ngClass]="{'w-100 d-flex flex-wrap': option.IsTextArea }"
                                       style="padding-top: 3px;">
                                  <ng-container *ngTemplateOutlet="optionLayout"></ng-container>
                                </label>
                              </div>
                            </ng-container>

                            <ng-template #optionLayout>
                              <ng-container *ngFor="let optionPart of option.Template; let partIndex = index">
                                <ng-container *ngIf="optionKey[optionPart]; else normalPart">
                                  <ng-container *ngIf="optionPart=='%TEXTAREA%'; else textPart">
                                    <textarea class="sentence-input mx-0"
                                              autosize="autosize"
                                              [ngStyle]="optionKey[optionPart].style"
                                              [(ngModel)]="option.AnswerMatrix[partIndex]"
                                              (ngModelChange)="refreshMark()"></textarea>
                                  </ng-container>
                                  <ng-template #textPart>
                                    <input type="text"
                                           class="sentence-input mx-0"
                                           [ngStyle]="optionKey[optionPart].style"
                                           [(ngModel)]="option.AnswerMatrix[partIndex]"
                                           (ngModelChange)="refreshMark()" />
                                  </ng-template>
                                </ng-container>
                                <ng-template #normalPart>
                                  <span class="com-view-option" [ngStyle]="{'padding-top': option.IsTextArea?'1px':''}">{{optionPart}}</span>
                                </ng-template>
                              </ng-container>
                            </ng-template>

                          </ng-container>
                        </ng-container>
                      </div>
                    </td>
                  </tr>

                </ng-container>
                </tbody>

              </ng-container>
            </table>
          </div>
        </ng-container>

      </ng-container>
    </ng-container>

    <button *ngIf="isOpen && questionSubject && questionSubject.length"
      class="btn btn-info sticky z-10 bottom-4 right-4 rounded-md ml-auto block" style="background: #4d89a3; " (click)="save()"
      [disabled]="isSaving">
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="ms-2">{{ isSaving ? '' : '儲存' }}</span>
    </button>

    <ng-template #elseBlock>

      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
          填寫期間：{{startTime}} ~ {{endTime}}，目前非開放填寫時間！
        </div>
      </div>

    </ng-template>

  </ng-container>

  <div class="modal modal-sm fade" tabindex="-1" role="dialog" id="modal-key">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">輸入學生填寫代碼</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputPassword1">請輸入老師所給的填寫代碼：</label>
              <input type="text" class="form-control" placeholder="填寫代碼" [(ngModel)]="fillInKey" name="fillInKey">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="getFillInData(true)"
            [ngClass]="{'btn-primary': fillInKey.length > 0, 'btn-secondary': fillInKey.length == 0}">確定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="modal-save-confirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">請確認儲存</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container *ngIf="requireList && requireList.length">
            請確認是否存檔？以下項目尚未填寫：
            <div style="background-color:#f8d7da; border-color:#f1aeb5; color:#721c24" class="alert mt-2">
              <ul>
                <li *ngFor="let item of requireList">{{item}}</li>
              </ul>
            </div>
          </ng-container>
          <ng-container *ngIf="!requireList || !requireList.length">
            請確認是否存檔？
          </ng-container>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" (click)="doSave()">存檔</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="modal-require-list">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">尚未填寫的項目</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div style="background-color:#f8d7da; border-color:#f1aeb5; color:#721c24" class="alert mt-2">
            <ul>
              <li *ngFor="let item of requireList">{{item}}</li>
            </ul>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">確定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>